.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: transparent;
  z-index: 9999;
  transition: background 0.3s ease-in-out;
}


.navbar.scrolled {
  background: black;
}
.navbar ul {
  padding-right: 50px; 
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f5a623;
}

.hamburger {
  display: none;
  right: 50px;
}

@media (max-width: 768px) {
  .hamburger {
    position: absolute ;
    top: -5px;
    right: 40px ;
    display: block ;
    font-size: 30px ;
    color: white ;
    padding: 10px;
    border-radius: 5px; 
    z-index: 9999 ;
  }
  

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    background: #060f1a;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.open {
    display: flex; 
  }
}
